body{
margin: 0;
height: 100vh;
}

main{
display: flex;
justify-content: center;
align-items: center;
height: inherit;
}

#jogo{
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}

.tabuleiro{
display: block;
min-width: 256px;
min-height: 256px;
padding: 2px 3px;

border: solid 8px #505050;
border-radius: 8px;
background-image: linear-gradient( fuchsia, pink, deeppink) ;

box-shadow: 4px 4px 4px rgba(140, 138, 138, 0.754);
}

.row {
    display: flex;
    flex-direction: row;
    min-height: auto;
    margin: 2px 0;
    
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: 4px 4px rgba(56, 54, 54, 0.302);
}

.empty {
    background-color: unset;
    box-shadow: none;
}

/* .flag{
    background-image: linear-gradient( fuchsia, pink, deeppink) ;
} */



